n8n-workflows/03-lead-magnet-maintenance-management.json
{
  "name": "Lead Magnet 03: Maintenance Management",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "value": "0 8 03,17 * *"
            }
          ]
        }
      },
      "id": "scheduleTrigger",
      "name": "Every 14 Days - Maintenance Management (Day 03)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const maintenanceTopics = [\n  {\n    type: 'Preventive Maintenance',\n    title: 'Complete Property Maintenance Schedule & Checklist System',\n    description: 'Prevent costly repairs with systematic maintenance planning and vendor management',\n    value: '$167 value',\n    angle: 'cost_prevention',\n    pain_point: 'expensive_repairs'\n  },\n  {\n    type: 'Emergency Response',\n    title: 'Emergency Maintenance Response & Vendor Network Guide',\n    description: 'Handle maintenance emergencies efficiently with pre-established vendor relationships',\n    value: '$147 value',\n    angle: 'crisis_management',\n    pain_point: 'emergency_costs'\n  }\n];\n\nconst selectedMagnet = maintenanceTopics[Math.floor(Math.random() * maintenanceTopics.length)];\nconst quarter = Math.ceil((new Date().getMonth() + 1) / 3);\nconst year = new Date().getFullYear();\n\nreturn {\n  json: {\n    ...selectedMagnet,\n    id: 'maintenance_' + Date.now(),\n    createdAt: new Date().toISOString(),\n    targetAudience: 'property managers, landlords, real estate investors',\n    category: 'maintenance_management',\n    workflow: '03',\n    folderPath: `${year}/Q${quarter}/maintenance`,\n    seoKeywords: 'property maintenance, preventive maintenance, repair management'\n  }\n};"
      },
      "id": "selectTopic",
      "name": "Select Maintenance Management Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://tenantflow-ollama:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3.2"
            },
            {
              "name": "prompt",
              "value": "Create a comprehensive property maintenance and management systems lead magnet for landlords:\\n\\nTitle: {{ $json.title }}\\nDescription: {{ $json.description }}\\nValue: {{ $json.value }}\\nAngle: {{ $json.angle }}\\nPain Point: {{ $json.pain_point }}\\nTarget: {{ $json.targetAudience }}\\n\\nGenerate detailed content including:\\n1. Executive summary of key strategies\\n2. Step-by-step implementation guides\\n3. Best practices and industry standards\\n4. Common mistakes to avoid\\n5. Tools and resources recommendations\\n6. Real-world examples and case studies\\n7. Action items and checklists\\n8. Legal considerations where applicable\\n9. Cost-saving tips and techniques\\n10. Performance metrics and tracking\\n\\nMake it actionable with downloadable resources. Focus on practical value for property managers and landlords."
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        }
      },
      "id": "generateContent",
      "name": "Generate Maintenance Management Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://tenantflow-nocodb:8080/api/v1/db/data/noco/tenantflow/lead_magnets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "xc-token",
              "value": "{{ $credentials.nocodbApi.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "{{ $('Select Maintenance Management Topic').item.json.title }}"
            },
            {
              "name": "category",
              "value": "{{ $('Select Maintenance Management Topic').item.json.category }}"
            },
            {
              "name": "content",
              "value": "{{ $('Generate Maintenance Management Content').item.json.response }}"
            },
            {
              "name": "status",
              "value": "active"
            },
            {
              "name": "workflow_id",
              "value": "03"
            },
            {
              "name": "created_at",
              "value": "{{ $('Select Maintenance Management Topic').item.json.createdAt }}"
            }
          ]
        }
      },
      "id": "saveToNocoDB",
      "name": "Save Maintenance Management to NocoDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://tenantflow-listmonk:9000/api/lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic {{ $credentials.listmonkApi.basicAuth }}"
            }
          ]
        }
      },
      "id": "getListmonkLists",
      "name": "Get Listmonk Lists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const lists = $('Get Listmonk Lists').item.json.data.data;\\nconst leadMagnetList = lists.find(list => list.name === 'Lead Magnets');\\nreturn {\\n  json: {\\n    listId: leadMagnetList ? leadMagnetList.id : 1\\n  }\\n};"
      },
      "id": "extractListId",
      "name": "Extract List ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://tenantflow-listmonk:9000/api/campaigns",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Basic {{ $credentials.listmonkApi.basicAuth }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "{{ $('Select Maintenance Management Topic').item.json.title }}"
            },
            {
              "name": "subject",
              "value": "🎯 New {{ $('Select Maintenance Management Topic').item.json.title }}"
            },
            {
              "name": "lists",
              "value": "[{{ $('Extract List ID').item.json.listId }}]"
            },
            {
              "name": "type",
              "value": "regular"
            },
            {
              "name": "content_type",
              "value": "html"
            },
            {
              "name": "body",
              "value": "<h2>🎯 {{ $('Select Maintenance Management Topic').item.json.title }}</h2>\\n<p>{{ $('Select Maintenance Management Topic').item.json.description }}</p>\\n<p><strong>Value: {{ $('Select Maintenance Management Topic').item.json.value }}</strong></p>\\n<br>\\n<a href=\"https://tenantflow.app/lead-magnets/{{ $('Select Maintenance Management Topic').item.json.id }}\" style=\"background-color: #007bff; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px;\">Get Your Free Guide →</a>"
            }
          ]
        }
      },
      "id": "createCampaign",
      "name": "Create Maintenance Management Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@tenantflow.app",
        "toEmail": "admin@tenantflow.app",
        "subject": "New Maintenance Management Lead Magnet Created",
        "emailType": "text",
        "message": "New lead magnet created:\\n\\nTitle: {{ $('Select Maintenance Management Topic').item.json.title }}\\nCategory: {{ $('Select Maintenance Management Topic').item.json.category }}\\nWorkflow: 03\\nCreated: {{ $('Select Maintenance Management Topic').item.json.createdAt }}\\n\\nContent saved to NocoDB and campaign created in Listmonk."
      },
      "id": "sendNotification",
      "name": "Send Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    }
  ],
  "connections": {
    "Every 14 Days - Maintenance Management (Day 03)": {
      "main": [
        [
          {
            "node": "Select Maintenance Management Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Maintenance Management Topic": {
      "main": [
        [
          {
            "node": "Generate Maintenance Management Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Maintenance Management Content": {
      "main": [
        [
          {
            "node": "Save Maintenance Management to NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Maintenance Management to NocoDB": {
      "main": [
        [
          {
            "node": "Get Listmonk Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Listmonk Lists": {
      "main": [
        [
          {
            "node": "Extract List ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract List ID": {
      "main": [
        [
          {
            "node": "Create Maintenance Management Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Maintenance Management Campaign": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "America/New_York"
  },
  "staticData": {},
  "tags": [
    {
      "id": "lead_magnet",
      "name": "Lead Magnet"
    },
    {
      "id": "maintenance_management",
      "name": "Maintenance Management"
    }
  ],
  "meta": {
    "description": "Creates property maintenance and management systems lead magnets every 14 days - specialized content for property managers and landlords",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1.0.0"
}