n8n-workflows/13-lead-magnet-portfolio-scaling.json
{
  "name": "Lead Magnet 13: Portfolio Scaling & Growth Specialist",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
  "field": "weeks",
              "weeksBetweenTriggers": 2,
              "triggerAtHour": 8,
              "triggerAtMinute": 0,
              "triggerOnWeekdays": {
                "monday": true,
                "tuesday": false,
                "wednesday": false,
                "thursday": false,
                "friday": false,
                "saturday": false,
                "sunday": false
              }
            }
          ]
        }
      },
      "id": "1",
      "name": "Every 14 Days - Portfolio Scaling (Day 13)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const scalingTopics = [\n  {\n    type: 'Portfolio Expansion Strategy',\n    title: 'Strategic Property Portfolio Expansion & Growth Planning System',\n    description: 'Scale from 1 to 10+ properties with proven expansion strategies and financing techniques',\n    value: '$247 value',\n    angle: 'growth_acceleration',\n    pain_point: 'scaling_challenges'\n  },\n  {\n    type: 'Team Building Framework',\n    title: 'Property Management Team Building & Systems Development Guide',\n    description: 'Build a management team that runs your portfolio while you focus on growth',\n    value: '$197 value',\n    angle: 'team_development',\n    pain_point: 'management_bottleneck'\n  },\n  {\n    type: 'Systems & Processes',\n    title: 'Scalable Property Management Systems & Process Optimization',\n    description: 'Create systems that work at scale for effortless portfolio management',\n    value: '$177 value',\n    angle: 'operational_efficiency',\n    pain_point: 'operational_chaos'\n  }\n];\n\nconst selectedMagnet = scalingTopics[Math.floor(Math.random() * scalingTopics.length)];\nconst quarter = Math.ceil((new Date().getMonth() + 1) / 3);\nconst year = new Date().getFullYear();\n\nreturn {\n  json: {\n    ...selectedMagnet,\n    id: 'portfolio_scaling_' + Date.now(),\n    createdAt: new Date().toISOString(),\n    targetAudience: 'real estate investors, portfolio managers, property entrepreneurs',\n    category: 'portfolio_scaling',\n    workflow: '13',\n    folderPath: `${year}/Q${quarter}/portfolio-scaling`,\n    seoKeywords: 'portfolio scaling, property investment growth, real estate expansion, portfolio management'\n  }\n};"
      },
      "id": "2",
      "name": "Select Scaling Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.177:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen3:8b"
            },
            {
              "name": "prompt",
              "value": "Create comprehensive portfolio scaling and growth strategies lead magnet for real estate investors:\\n\\nTitle: {{ $json.title }}\\nDescription: {{ $json.description }}\\nValue: {{ $json.value }}\\nAngle: {{ $json.angle }}\\nPain Point: {{ $json.pain_point }}\\nTarget: {{ $json.targetAudience }}\\n\\nGenerate detailed content including:\\n1. Portfolio expansion strategies and timelines\\n2. Financing and leveraging techniques\\n3. Market analysis and property selection\\n4. Risk management for scaled portfolios\\n5. Team building and delegation systems\\n6. Technology and automation tools\\n7. Legal structures and entity optimization\\n8. Exit strategies and wealth preservation\\n9. Performance metrics and tracking\\n10. Case studies and growth examples\\n\\nMake it actionable with downloadable resources. Focus on practical value for serious real estate investors."
            }
          ]
        }
      },
      "id": "generateContent",
      "name": "Generate Portfolio Scaling Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nocodb:8080/api/v1/db/data/noco/tenantflow/lead_magnets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "xc-token",
              "value": "{{ $credentials.nocodbApi.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "{{ $('Select Scaling Topic').item.json.title }}"
            },
            {
              "name": "category",
              "value": "{{ $('Select Scaling Topic').item.json.category }}"
            },
            {
              "name": "content",
              "value": "{{ $('Generate Portfolio Scaling Content').item.json.response }}"
            },
            {
              "name": "status",
              "value": "active"
            },
            {
              "name": "workflow_id",
              "value": "13"
            },
            {
              "name": "created_at",
              "value": "{{ $('Select Scaling Topic').item.json.createdAt }}"
            }
          ]
        }
      },
      "id": "saveToNocoDB",
      "name": "Save Portfolio Scaling to NocoDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://listmonk:9000/api/lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic {{ $credentials.listmonkApi.basicAuth }}"
            }
          ]
        }
      },
      "id": "getListmonkLists",
      "name": "Get Listmonk Lists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const lists = $('Get Listmonk Lists').item.json.data.data;\\nconst leadMagnetList = lists.find(list => list.name === 'Lead Magnets');\\nreturn {\\n  json: {\\n    listId: leadMagnetList ? leadMagnetList.id : 1\\n  }\\n};"
      },
      "id": "extractListId",
      "name": "Extract List ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://listmonk:9000/api/campaigns",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Basic {{ $credentials.listmonkApi.basicAuth }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "{{ $('Select Scaling Topic').item.json.title }}"
            },
            {
              "name": "subject",
              "value": "🚀 New {{ $('Select Scaling Topic').item.json.title }}"
            },
            {
              "name": "lists",
              "value": "[{{ $('Extract List ID').item.json.listId }}]"
            },
            {
              "name": "type",
              "value": "regular"
            },
            {
              "name": "content_type",
              "value": "html"
            },
            {
              "name": "body",
              "value": "<h2>🚀 {{ $('Select Scaling Topic').item.json.title }}</h2>\\n<p>{{ $('Select Scaling Topic').item.json.description }}</p>\\n<p><strong>Value: {{ $('Select Scaling Topic').item.json.value }}</strong></p>\\n<br>\\n<a href=\\\"https://tenantflow.app/lead-magnets/{{ $('Select Scaling Topic').item.json.id }}\\\" style=\\\"background-color: #007bff; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px;\\\">Get Your Free Guide →</a>"
            }
          ]
        }
      },
      "id": "createCampaign",
      "name": "Create Portfolio Scaling Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@tenantflow.app",
        "toEmail": "admin@tenantflow.app",
        "subject": "New Portfolio Scaling Lead Magnet Created",
        "emailType": "text",
        "message": "New lead magnet created:\\n\\nTitle: {{ $('Select Scaling Topic').item.json.title }}\\nCategory: {{ $('Select Scaling Topic').item.json.category }}\\nWorkflow: 13\\nCreated: {{ $('Select Scaling Topic').item.json.createdAt }}\\n\\nContent saved to NocoDB and campaign created in Listmonk."
      },
      "id": "sendNotification",
      "name": "Send Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Every 14 Days - Portfolio Scaling (Day 13)": {
      "main": [
        [
          {
            "node": "Select Scaling Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Scaling Topic": {
      "main": [
        [
          {
            "node": "Generate Portfolio Scaling Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Portfolio Scaling Content": {
      "main": [
        [
          {
            "node": "Save Portfolio Scaling to NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Portfolio Scaling to NocoDB": {
      "main": [
        [
          {
            "node": "Get Listmonk Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Listmonk Lists": {
      "main": [
        [
          {
            "node": "Extract List ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract List ID": {
      "main": [
        [
          {
            "node": "Create Portfolio Scaling Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Portfolio Scaling Campaign": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "America/New_York"
  },
  "staticData": {},
  "tags": [
    {
      "id": "lead_magnet",
      "name": "Lead Magnet"
    },
    {
      "id": "portfolio_scaling",
      "name": "Portfolio Scaling"
    }
  ],
  "meta": {
    "description": "Creates portfolio scaling and growth lead magnets every 14 days - specialized in expansion strategies and team building",
    "tags": ["lead-magnet", "portfolio-scaling", "workflow-13", "growth-strategies"]
  }
}