n8n-workflows/14-lead-magnet-emergency-management.json
{
  "name": "Lead Magnet 14: Crisis & Emergency Management Specialist",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksBetweenTriggers": 2,
              "triggerAtHour": 8,
              "triggerAtMinute": 0,
              "triggerOnWeekdays": {
                "monday": true,
                "tuesday": false,
                "wednesday": false,
                "thursday": false,
                "friday": false,
                "saturday": false,
                "sunday": false
              },
              "value": "0 14 14,28 * *"
            }
          ]
        }
      },
      "id": "scheduleTrigger",
      "name": "Every 14 Days - Emergency Management (Day 14)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "setTopicsId",
              "name": "topics",
              "value": "={{ \n  [\n    {\n      \"subject\": \"🚑 Emergency Response Mastery: Handle Any Property Crisis\",\n      \"preview\": \"Professional emergency protocols that protect tenants and assets...\",\n      \"content\": \"Learn proven emergency response systems that ensure tenant safety while protecting your property investment during any crisis.\"\n    },\n    {\n      \"subject\": \"🌪️ Natural Disaster Preparedness: Protect Your Properties\",\n      \"preview\": \"Shield your properties from hurricanes, floods, and disasters...\",\n      \"content\": \"Master comprehensive disaster preparation strategies that minimize damage and ensure rapid recovery from natural disasters.\"\n    },\n    {\n      \"subject\": \"🏢 Business Continuity Planning: Keep Operations Running\",\n      \"preview\": \"Maintain revenue flow during crises with smart continuity plans...\",\n      \"content\": \"Develop robust business continuity systems that keep your property management operations running smoothly during any disruption.\"\n    },\n    {\n      \"subject\": \"📞 Crisis Communication: Manage Emergency Information Flow\",\n      \"preview\": \"Professional crisis communication that builds tenant trust...\",\n      \"content\": \"Master emergency communication strategies that keep tenants informed, calm, and confident during property emergencies.\"\n    },\n    {\n      \"subject\": \"🔧 Emergency Repairs: Rapid Response Property Recovery\",\n      \"preview\": \"Get properties back online fast with emergency repair systems...\",\n      \"content\": \"Implement emergency repair protocols that minimize downtime and restore properties to full operation quickly and cost-effectively.\"\n    }\n  ]\n}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "setTopics",
      "name": "Set Topics",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "randomTopicId",
              "name": "selectedTopic",
              "value": "={{ $json.topics[Math.floor(Math.random() * $json.topics.length)] }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "randomTopicSelection",
      "name": "Random Topic Selection",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [620, 300]
    }
  ],
  "connections": {
    "Every 14 Days - Emergency Management (Day 14)": {
      "main": [
        [
          {
            "node": "Set Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Topics": {
      "main": [
        [
          {
            "node": "Random Topic Selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "America/New_York"
  },
  "staticData": {},
  "tags": [
    {
      "id": "lead_magnet",
      "name": "Lead Magnet"
    },
    {
      "id": "emergency_management",
      "name": "Emergency Management"
    }
  ],
  "meta": {
    "description": "Creates crisis and emergency management lead magnets every 14 days - specialized in emergency response and disaster preparedness",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1.0.0"
}