n8n-workflows/21-local-seo-content-generator.json
{
  "name": "Local SEO Content Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "1",
      "name": "Daily Local SEO Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "filePathType": "absolute",
        "fileName": "/home/user/tenantflow-content/data/target-cities.json"
      },
      "id": "2",
      "name": "Load Target Cities",
      "type": "n8n-nodes-base.files",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const cities = JSON.parse($input.first().data);\nconst randomCity = cities[Math.floor(Math.random() * cities.length)];\n\nconst contentTypes = [\n  'Property Management in {city}',\n  'Best Neighborhoods for Rental Properties in {city}',\n  '{city} Rental Market Analysis 2024',\n  'Landlord Laws and Regulations in {city}',\n  'Property Investment Opportunities in {city}'\n];\n\nconst selectedType = contentTypes[Math.floor(Math.random() * contentTypes.length)];\nconst title = selectedType.replace('{city}', randomCity.name);\n\nreturn {\n  json: {\n    city: randomCity,\n    contentType: selectedType,\n    title: title,\n    keywords: `property management ${randomCity.name.toLowerCase()}, rental properties ${randomCity.name.toLowerCase()}, landlord ${randomCity.state.toLowerCase()}`\n  }\n};"
      },
      "id": "3",
      "name": "Select Random City & Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3.2"
            },
            {
              "name": "prompt",
              "value": "Write a comprehensive local SEO article about '{{ $json.title }}'. Include:\n\n1. Local market insights and data\n2. Neighborhood-specific information\n3. Local regulations and laws\n4. Market trends and opportunities\n5. Practical tips for local landlords\n6. Call-to-action for TenantFlow\n\nTarget keywords: {{ $json.keywords }}\nCity: {{ $json.city.name }}, {{ $json.city.state }}\nPopulation: {{ $json.city.population }}\n\nMake it 1000-1500 words, SEO-optimized, and locally relevant."
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        }
      },
      "id": "4",
      "name": "Generate Local Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "filePathType": "absolute",
        "fileName": "/home/user/tenantflow-content/local-seo/{{ $('Select Random City & Topic').item.json.city.name.toLowerCase().replace(/[^a-z0-9]/g, '-') }}-{{ new Date().toISOString().split('T')[0] }}.md",
        "data": "---\ntitle: \"{{ $('Select Random City & Topic').item.json.title }}\"\ncity: {{ $('Select Random City & Topic').item.json.city.name }}\nstate: {{ $('Select Random City & Topic').item.json.city.state }}\nkeywords: {{ $('Select Random City & Topic').item.json.keywords }}\ntype: local-seo\ndate: {{ new Date().toISOString().split('T')[0] }}\n---\n\n{{ $('Generate Local Content').item.json.response }}"
      },
      "id": "5",
      "name": "Save Local SEO Content",
      "type": "n8n-nodes-base.files",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Daily Local SEO Trigger": {
      "main": [
        [
          {
            "node": "Load Target Cities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Target Cities": {
      "main": [
        [
          {
            "node": "Select Random City & Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Random City & Topic": {
      "main": [
        [
          {
            "node": "Generate Local Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Local Content": {
      "main": [
        [
          {
            "node": "Save Local SEO Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "meta": {
    "description": "Generates local SEO content for different cities to capture regional search traffic",
    "tags": ["seo", "local", "content", "cities"]
  }
}