n8n-workflows/22-tenantflow-blog-approval-workflow.json
{
  "name": "TenantFlow Blog Content with Discord Approval",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "1",
      "name": "Weekly Blog Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.177:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen3:8b"
            },
            {
              "name": "prompt",
              "value": "Write a comprehensive blog post about property management for landlords. The post should be 800-1200 words, include practical tips, and be SEO-optimized. Focus on topics like: tenant screening, rent collection, maintenance management, legal compliance, or property investment strategies. Include a compelling title, subheadings, and actionable advice. Make it engaging and professional for TenantFlow's audience of property managers and landlords."
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Generate Blog Content (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract and format blog content from Ollama response\nconst response = $input.first().json;\nconst blogContent = response.response;\n\n// Parse the content to extract title and body\nconst lines = blogContent.split('\\n');\nconst title = lines.find(line => line.includes('#') || line.toLowerCase().includes('title')) || 'Property Management Insights';\nconst cleanTitle = title.replace(/#+\\s*/, '').trim();\n\n// Extract SEO keywords\nconst keywords = [\n  'property management',\n  'landlord tips',\n  'rental property',\n  'tenant management',\n  'real estate investment'\n];\n\n// Create meta description\nconst sentences = blogContent.split('.');\nconst metaDescription = sentences.slice(0, 2).join('.') + '.';\n\n// Generate unique ID for tracking\nconst blogId = 'blog_' + Date.now();\n\n// Format for blog post\nconst formattedContent = {\n  id: blogId,\n  title: cleanTitle,\n  content: blogContent,\n  metaDescription: metaDescription.substring(0, 160),\n  keywords: keywords.join(', '),\n  publishDate: new Date().toISOString().split('T')[0],\n  author: 'TenantFlow Team',\n  category: 'Property Management',\n  featured: false,\n  status: 'pending_approval',\n  wordCount: blogContent.split(' ').length\n};\n\nreturn { json: formattedContent };"
      },
      "id": "3",
      "name": "Format Blog Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "filePathType": "absolute",
        "fileName": "/home/user/tenantflow-content/blog-drafts/{{ $json.id }}.json",
        "data": "{{ JSON.stringify($json, null, 2) }}"
      },
      "id": "4",
      "name": "Save Draft to File",
      "type": "n8n-nodes-base.files",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1390650940641513523/FTtdvSyGu5ifiJ3Apthy0d-DZbgr7pIbZhVKMdBC0OV3hPSPb1VROhOK_O78TbNDYQFy",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "embeds",
              "value": [
                {
                  "title": "📝 New Blog Post Ready for Review",
                  "description": "**{{ $('Format Blog Content').item.json.title }}**\\n\\n{{ $('Format Blog Content').item.json.metaDescription }}",
                  "color": 3447003,
                  "fields": [
                    {
                      "name": "📊 Details",
                      "value": "**Word Count:** {{ $('Format Blog Content').item.json.wordCount }}\\n**Category:** {{ $('Format Blog Content').item.json.category }}\\n**Keywords:** {{ $('Format Blog Content').item.json.keywords }}\\n**Author:** {{ $('Format Blog Content').item.json.author }}",
                      "inline": true
                    },
                    {
                      "name": "📅 Publishing",
                      "value": "**Scheduled:** {{ $('Format Blog Content').item.json.publishDate }}\\n**Status:** Pending Approval\\n**ID:** {{ $('Format Blog Content').item.json.id }}",
                      "inline": true
                    }
                  ],
                  "footer": {
                    "text": "React with ✅ to approve, ❌ to reject, or 📝 to request changes"
                  },
                  "timestamp": "{{ new Date().toISOString() }}"
                }
              ]
            }
          ]
        }
      },
      "id": "5",
      "name": "Send to Discord for Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Create preview content for Discord\nconst blogData = $('Format Blog Content').item.json;\nconst previewContent = blogData.content.substring(0, 800) + '...';\n\nreturn {\n  json: {\n    blogId: blogData.id,\n    title: blogData.title,\n    preview: previewContent,\n    fullContentUrl: `http://localhost:3000/preview/blog/${blogData.id}`,\n    discordMessageId: $('Send to Discord for Approval').item.json.id\n  }\n};"
      },
      "id": "6",
      "name": "Prepare Content Preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1390650940641513523/FTtdvSyGu5ifiJ3Apthy0d-DZbgr7pIbZhVKMdBC0OV3hPSPb1VROhOK_O78TbNDYQFy",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "📖 **Content Preview:**\\n```\\n{{ $json.preview }}\\n```\\n\\n🔗 [View Full Content]({{ $json.fullContentUrl }})\\n\\n**Blog ID:** `{{ $json.blogId }}`"
            }
          ]
        }
      },
      "id": "7",
      "name": "Send Content Preview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "filePathType": "absolute",
        "fileName": "/home/user/tenantflow-content/logs/blog-approval-requests.log",
        "data": "{{ new Date().toISOString() }} - Blog approval request sent\\nBlog ID: {{ $('Format Blog Content').item.json.id }}\\nTitle: {{ $('Format Blog Content').item.json.title }}\\nWord Count: {{ $('Format Blog Content').item.json.wordCount }}\\nDiscord Message ID: {{ $('Send to Discord for Approval').item.json.id }}\\nStatus: Pending Approval\\n---\\n",
        "options": {
          "append": true
        }
      },
      "id": "8",
      "name": "Log Approval Request",
      "type": "n8n-nodes-base.files",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "9",
      "name": "Check Approval Status",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        600
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "filePathType": "absolute",
        "fileName": "/home/user/tenantflow-content/approvals/pending-approvals.json"
      },
      "id": "10",
      "name": "Read Pending Approvals",
      "type": "n8n-nodes-base.files",
      "typeVersion": 1,
      "position": [
        460,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check for approved blog posts\nconst pendingApprovals = JSON.parse($input.first().data || '[]');\nconst approvedPosts = pendingApprovals.filter(post => post.status === 'approved');\n\nreturn approvedPosts.map(post => ({ json: post }));"
      },
      "id": "11",
      "name": "Filter Approved Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        600
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "filePathType": "absolute",
        "fileName": "/home/user/tenantflow-content/blog-drafts/{{ $json.blogId }}.json"
      },
      "id": "12",
      "name": "Load Approved Blog",
      "type": "n8n-nodes-base.files",
      "typeVersion": 1,
      "position": [
        900,
        600
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "filePathType": "absolute",
        "fileName": "/home/user/tenantflow-content/blog-posts/{{ $('Load Approved Blog').item.json.publishDate }}-{{ $('Load Approved Blog').item.json.title.toLowerCase().replace(/[^a-z0-9]/g, '-') }}.md",
        "data": "---\\ntitle: \\\"{{ $('Load Approved Blog').item.json.title }}\\\"\\ndate: {{ $('Load Approved Blog').item.json.publishDate }}\\nauthor: {{ $('Load Approved Blog').item.json.author }}\\ncategory: {{ $('Load Approved Blog').item.json.category }}\\nkeywords: {{ $('Load Approved Blog').item.json.keywords }}\\nmetaDescription: \\\"{{ $('Load Approved Blog').item.json.metaDescription }}\\\"\\nfeatured: {{ $('Load Approved Blog').item.json.featured }}\\nstatus: published\\napprovedAt: {{ new Date().toISOString() }}\\n---\\n\\n{{ $('Load Approved Blog').item.json.content }}"
      },
      "id": "13",
      "name": "Publish Approved Blog",
      "type": "n8n-nodes-base.files",
      "typeVersion": 1,
      "position": [
        1120,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/{{ $env.FACEBOOK_PAGE_ID }}/feed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $env.FACEBOOK_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "🏠 New blog post published! {{ $('Load Approved Blog').item.json.title }} - Expert insights for property managers and landlords. Read more at: https://tenantflow.com/blog/{{ $('Load Approved Blog').item.json.publishDate }}-{{ $('Load Approved Blog').item.json.title.toLowerCase().replace(/[^a-z0-9]/g, '-') }} #PropertyManagement #RealEstate #LandlordTips"
            },
            {
              "name": "link",
              "value": "https://tenantflow.com/blog/{{ $('Load Approved Blog').item.json.publishDate }}-{{ $('Load Approved Blog').item.json.title.toLowerCase().replace(/[^a-z0-9]/g, '-') }}"
            }
          ]
        }
      },
      "id": "14",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1390650940641513523/FTtdvSyGu5ifiJ3Apthy0d-DZbgr7pIbZhVKMdBC0OV3hPSPb1VROhOK_O78TbNDYQFy",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "embeds",
              "value": [
                {
                  "title": "✅ Blog Post Published Successfully!",
                  "description": "**{{ $('Load Approved Blog').item.json.title }}** has been published and promoted on social media.",
                  "color": 5763719,
                  "fields": [
                    {
                      "name": "📊 Publication Details",
                      "value": "**URL:** [View Post](https://tenantflow.com/blog/{{ $('Load Approved Blog').item.json.publishDate }}-{{ $('Load Approved Blog').item.json.title.toLowerCase().replace(/[^a-z0-9]/g, '-') }})\\n**Published:** {{ new Date().toISOString().split('T')[0] }}\\n**Facebook Post:** {{ $('Post to Facebook').item.json.id ? 'Success' : 'Failed' }}",
                      "inline": false
                    }
                  ],
                  "footer": {
                    "text": "TenantFlow Blog Automation"
                  },
                  "timestamp": "{{ new Date().toISOString() }}"
                }
              ]
            }
          ]
        }
      },
      "id": "15",
      "name": "Notify Publication Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        600
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Blog Schedule": {
      "main": [
        [
          {
            "node": "Generate Blog Content (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Blog Content (Ollama)": {
      "main": [
        [
          {
            "node": "Format Blog Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Blog Content": {
      "main": [
        [
          {
            "node": "Save Draft to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Content Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Draft to File": {
      "main": [
        [
          {
            "node": "Send to Discord for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Discord for Approval": {
      "main": [
        [
          {
            "node": "Log Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Content Preview": {
      "main": [
        [
          {
            "node": "Send Content Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval Status": {
      "main": [
        [
          {
            "node": "Read Pending Approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Approvals": {
      "main": [
        [
          {
            "node": "Filter Approved Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Approved Posts": {
      "main": [
        [
          {
            "node": "Load Approved Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Approved Blog": {
      "main": [
        [
          {
            "node": "Publish Approved Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Approved Blog": {
      "main": [
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Notify Publication Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/New_York",
    "saveManualExecutions": true
  },
  "versionId": "1",
  "meta": {
    "templateCreatedBy": "Claude",
    "description": "Blog content generation with Discord approval workflow - generates content, sends to Discord for review, publishes after approval",
    "tags": ["blog", "discord", "approval", "ollama", "facebook", "automation"]
  }
}