n8n-workflows/23-tenantflow-blog-automation-ollama.json
{
  "name": "TenantFlow Blog Content Generator (Ollama)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "1",
      "name": "Weekly Blog Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3.2"
            },
            {
              "name": "prompt",
              "value": "Write a comprehensive blog post about property management for landlords. The post should be 800-1200 words, include practical tips, and be SEO-optimized. Focus on topics like: tenant screening, rent collection, maintenance management, legal compliance, or property investment strategies. Include a compelling title, subheadings, and actionable advice. Make it engaging and professional for TenantFlow's audience of property managers and landlords."
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Generate Blog Content (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract and format blog content from Ollama response\nconst response = $input.first().json;\nconst blogContent = response.response;\n\n// Parse the content to extract title and body\nconst lines = blogContent.split('\\n');\nconst title = lines.find(line => line.includes('#') || line.toLowerCase().includes('title')) || 'Property Management Insights';\nconst cleanTitle = title.replace(/#+\\s*/, '').trim();\n\n// Extract SEO keywords\nconst keywords = [\n  'property management',\n  'landlord tips',\n  'rental property',\n  'tenant management',\n  'real estate investment'\n];\n\n// Create meta description\nconst sentences = blogContent.split('.');\nconst metaDescription = sentences.slice(0, 2).join('.') + '.';\n\n// Format for blog post\nconst formattedContent = {\n  title: cleanTitle,\n  content: blogContent,\n  metaDescription: metaDescription.substring(0, 160),\n  keywords: keywords.join(', '),\n  publishDate: new Date().toISOString().split('T')[0],\n  author: 'TenantFlow Team',\n  category: 'Property Management',\n  featured: false\n};\n\nreturn { json: formattedContent };"
      },
      "id": "3",
      "name": "Format Blog Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3.2"
            },
            {
              "name": "prompt",
              "value": "Create 5 SEO-optimized social media posts to promote this blog article: \"{{ $json.title }}\". Each post should be platform-appropriate:\n1. Facebook (engaging, longer format)\n2. Twitter/X (concise, with hashtags)\n3. LinkedIn (professional tone)\n4. Instagram (visual-focused with emoji)\n5. TikTok/Short video script\n\nInclude relevant hashtags for property management and real estate."
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "Generate Social Media Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "filePathType": "absolute",
        "fileName": "/home/user/tenantflow-content/blog-posts/{{ $('Format Blog Content').item.json.publishDate }}-{{ $('Format Blog Content').item.json.title.toLowerCase().replace(/[^a-z0-9]/g, '-') }}.md",
        "data": "---\ntitle: \"{{ $('Format Blog Content').item.json.title }}\"\ndate: {{ $('Format Blog Content').item.json.publishDate }}\nauthor: {{ $('Format Blog Content').item.json.author }}\ncategory: {{ $('Format Blog Content').item.json.category }}\nkeywords: {{ $('Format Blog Content').item.json.keywords }}\nmetaDescription: \"{{ $('Format Blog Content').item.json.metaDescription }}\"\nfeatured: {{ $('Format Blog Content').item.json.featured }}\n---\n\n{{ $('Format Blog Content').item.json.content }}"
      },
      "id": "5",
      "name": "Save Blog Post to File",
      "type": "n8n-nodes-base.files",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "filePathType": "absolute",
        "fileName": "/home/user/tenantflow-content/social-media/{{ $('Format Blog Content').item.json.publishDate }}-social-posts.txt",
        "data": "Social Media Posts for: {{ $('Format Blog Content').item.json.title }}\nGenerated: {{ new Date().toISOString() }}\n\n{{ $('Generate Social Media Posts').item.json.response }}"
      },
      "id": "6",
      "name": "Save Social Media Posts",
      "type": "n8n-nodes-base.files",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/{{ $env.FACEBOOK_PAGE_ID }}/feed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $env.FACEBOOK_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "🏠 New blog post alert! {{ $('Format Blog Content').item.json.title }} - Practical insights for property managers and landlords. Read more at: https://tenantflow.com/blog/{{ $('Format Blog Content').item.json.publishDate }}-{{ $('Format Blog Content').item.json.title.toLowerCase().replace(/[^a-z0-9]/g, '-') }} #PropertyManagement #RealEstate #LandlordTips"
            },
            {
              "name": "link",
              "value": "https://tenantflow.com/blog/{{ $('Format Blog Content').item.json.publishDate }}-{{ $('Format Blog Content').item.json.title.toLowerCase().replace(/[^a-z0-9]/g, '-') }}"
            }
          ]
        }
      },
      "id": "7",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "filePathType": "absolute",
        "fileName": "/home/user/tenantflow-content/logs/blog-generation.log",
        "data": "{{ new Date().toISOString() }} - Blog post generated: {{ $('Format Blog Content').item.json.title }}\nFile saved: /home/user/tenantflow-content/blog-posts/{{ $('Format Blog Content').item.json.publishDate }}-{{ $('Format Blog Content').item.json.title.toLowerCase().replace(/[^a-z0-9]/g, '-') }}.md\nSocial media posts generated and saved\nFacebook post status: {{ $('Post to Facebook').item.json.id ? 'Success' : 'Failed' }}\n---\n",
        "options": {
          "append": true
        }
      },
      "id": "8",
      "name": "Log Activity",
      "type": "n8n-nodes-base.files",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Blog Schedule": {
      "main": [
        [
          {
            "node": "Generate Blog Content (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Blog Content (Ollama)": {
      "main": [
        [
          {
            "node": "Format Blog Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Blog Content": {
      "main": [
        [
          {
            "node": "Generate Social Media Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Blog Post to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Social Media Posts": {
      "main": [
        [
          {
            "node": "Save Social Media Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Blog Post to File": {
      "main": [
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Social Media Posts": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/New_York",
    "saveManualExecutions": true
  },
  "versionId": "1",
  "meta": {
    "templateCreatedBy": "Claude",
    "description": "Automated blog content generation using local Ollama LLM with social media promotion",
    "tags": ["content", "automation", "ollama", "facebook", "blog"]
  }
}