docs/n8n-workflows/midnight-cleanup-workflow.json
{
  "name": "TenantFlow - Midnight Cleanup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Midnight",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TENANTFLOW_API_URL }}/api/v1/webhooks/n8n/cron/cleanup-events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-webhook-secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "cleanup-events",
      "name": "Cleanup Old Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-result",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 0]
    },
    {
      "parameters": {
        "content": "### Midnight Cleanup Completed\n\n**Deleted Events:** {{ $json.deletedCount || 0 }}\n\n**Timestamp:** {{ new Date().toISOString() }}",
        "height": 150,
        "width": 300
      },
      "id": "success-note",
      "name": "Cleanup Success",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [900, -50]
    }
  ],
  "connections": {
    "Daily Midnight": {
      "main": [
        [
          {
            "node": "Cleanup Old Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Old Events": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "TenantFlow"
    },
    {
      "name": "Cron"
    },
    {
      "name": "Cleanup"
    }
  ],
  "pinData": {}
}
