docs/n8n-workflows/subscription-retry-workflow.json
{
  "name": "TenantFlow - Subscription Retry (5min)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TENANTFLOW_API_URL }}/api/v1/webhooks/n8n/cron/subscription-retry",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-webhook-secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "subscription-retry",
      "name": "Retry Failed Subscriptions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-result",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 0]
    },
    {
      "parameters": {
        "content": "### Subscription Retry\n\nRuns every 5 minutes to retry failed Stripe subscription payments.\n\n**Retried:** {{ $json.retriedCount || 0 }}\n**Succeeded:** {{ $json.succeededCount || 0 }}\n**Failed:** {{ $json.failedCount || 0 }}",
        "height": 180,
        "width": 300
      },
      "id": "info-note",
      "name": "Retry Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [900, -50]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Retry Failed Subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Failed Subscriptions": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "TenantFlow"
    },
    {
      "name": "Cron"
    },
    {
      "name": "Stripe"
    }
  ],
  "pinData": {}
}
